.panel-left,
.panel-right {
  position: relative;
  will-change: transform;
  background: radial-gradient(
    100% 100% at var(--glow-x) var(--glow-y),
    hsl(257, 25%, 16%) 0%,
    var(--bg-dark) 100%
  );
}
.panel-left  { --glow-x: 0%; --glow-y: 0%;}  
.panel-right { --glow-x: 100%; --glow-y: 100%;}  

.panel-left.slide {
  border-right: var(--border) 2px solid;
  transition: border-right 0.25s ease-out;
  animation: slideLeft 1s cubic-bezier(0.6, 0, 0.2, 1) 0.25s both;
}
.panel-right.slide {
  border-left: var(--border) 2px solid;
  transition: border-left 0.25s ease-out;
  animation: slideRight 1s cubic-bezier(0.6, 0, 0.2, 1) 0.25s both;
}
#login-form {
  opacity: 0;
  animation: slideDown 0.5s cubic-bezier(0.2, 0.8, 0.2, 1) both;
}
#login-form.slide {
  opacity: 100;
  animation: slideUp 0.5s cubic-bezier(0.2, 0.8, 0.2, 1) both;
}

@keyframes slideRight {
  from { transform: translateX(0); }
  to   { transform: translateX(150%);}
}
@keyframes slideLeft {
  from { transform: translateX(0); }
  to   { transform: translateX(-150%);}
}
@keyframes slideUp {
  from { transform: translateY(0);}
  to   { transform: translateY(-20%); opacity: 0;}
}
@keyframes slideDown {
  from { transform: translateY(-20%);}
  to   { transform: translateY(0%); opacity: 100;}
}
