.panel-left,
.panel-right {
  position: relative;
}


.panel-left.slide {
  animation: slideLeft 1.5s cubic-bezier(0.6, 0, 0.2, 1) 0.25s both;
}
.panel-right.slide {
  animation: slideRight 1.5s cubic-bezier(0.6, 0, 0.2, 1) 0.25s both;
}
#login-form.slide {
  animation: slideUp 0.2s cubic-bezier(0.2, 0.8, 0.2, 1) both;
}

@keyframes slideRight {
  from { transform: translateX(0); }
  to   { transform: translateX(150%); border-left: var(--highlight) 2px solid;}
}
@keyframes slideLeft {
  from { transform: translateX(0); }
  to   { transform: translateX(-150%); border-right: var(--highlight) 2px solid;}
}
@keyframes slideUp {
  from { transform: translateY(0); }
  to   { transform: translateY(-10%); opacity: 0;}
}
