@import 'tailwindcss';

:root{
	--bg-dark:  hsl(257, 12%, 7%); 
	--bg:       hsl(257, 10%, 16%); 
	--bg-light: hsl(257, 8%, 28%);  

 	--text: hsl(0,0%,95%);
	--text-lighter: hsl(0, 0%, 85%);
 	--text-muted: hsl(0,0%,75%);

 	--highlight: hsl(0, 0%, 99%);
 	--border: hsl(0, 0%, 90%);
	--gradient: hsl(257, 25%, 16%);

	--warning: hsl(0, 100%, 43%);
	--success: hsl(118, 100%, 33%);


	--slide-in-s:0.5s;
	--slide-in-delayed-s: 0.7s;
}
body.light{
	--bg-light:  hsl(257, 12%, 93%); 
	--bg:       hsl(257, 10%, 84%); 
	--bg-dark: hsl(257, 8%, 72%);  

 	--text: hsl(1,0%,10%);
	--text-lighter: hsl(0, 0%, 20%);
 	--text-muted: hsl(0,0%,30%);

 	--highlight: hsl(0, 0%, 1%);
 	--border: hsl(0, 0%, 10%);
	--gradient: hsl(257, 25%, 84%);

	--warning: hsl(0, 100%, 43%);
}


*{
	font-family: 'Inter', sans-serif;
}

body{
	width: 100vw;
	height: 100vh;
	@apply bg-(--bg-dark) overflow-hidden;
}


#root{
	display: flex;
	width: 100%;
	height: 100%;
}

.slide-in{
	transform: translateY(-20px);
	opacity: 0;
	animation: slide-in var(--slide-in-s) ease-in-out both;
}
@keyframes slide-in {
	from{}
	to{transform: translateY(0); opacity: 100;}
}

.primary-btn{
	@apply  bg-blue-600 rounded-xl p-2 px-5 text-gray-100;
}
